%h1 Listing quick_links

%table
  %thead
    %tr
      %th Name
      %th Origin
      %th Destination
      %th
      %th
      %th

  %tbody
    - @quick_links.each do |quick_link|
      %tr
        %td= quick_link.name
        %td= quick_link.origin_id
        %td= quick_link.destination_id
        %td= link_to 'Show', quick_link
        %td= link_to 'Edit', edit_quick_link_path(quick_link)
        %td= link_to 'Destroy', quick_link, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Quick link', new_quick_link_path
