=render "header"
.center
  %p#notice= notice

  %p
    %b Name:
    = @quick_link.name

  %p
    %b Origin:
    = @quick_link.origin.name
  %p
    %b Destination:
    = @quick_link.destination.name

  .naked-btt
    = button_to quick_link_path(@quick_link), :method => :delete, class: 'rounded big-font' do
      %span.bi.bi-trash
      %span= t('form.delete')

  .flex
    = render "linkdash", force_dash: true
    .small-v-spacer
    = render "fancylinkblue", link: edit_quick_link_path(@quick_link), title: t("form.edit"), left_icon: true, margin: true
