=render 'header', notice: true

.center.text-center
  %h1= t(".title")
  %h2.limit-size-center
    != t(".subtitle")

  .big-font.limit-size-center
    != t(".explanation")

  %section.center
    %title
      %h1= t(".how_it_works.title")

    .center.limit-size-center
      %h2= t(".how_it_works.wallets.title")

      .big-font.line-spacing-small
        != t(".how_it_works.wallets.explanation")

      .small-v-spacer
      =render "wallets/icon", wallet: @wallet, noclick: true

      .small-v-spacer
      ="🡅"
      .big-font
        = t(".how_it_works.wallets.some_value")

    .center
      %h2= t(".how_it_works.transaction.title")
      .big-font.line-spacing-small.limit-size-center
        != t(".how_it_works.transaction.explanation_balance")

      #balance.center
        -# here the style is applied so it can be controlled by js
        #bar{style: "transform: rotate(-25deg);"}
          .icon1
            =render "wallets/icon", wallet: @walletIn, noclick: true
          .icon2
            =render "wallets/icon", wallet: @walletOut, noclick: true
          .text
            = t(".how_it_works.transaction.scale")

      .big-font.line-spacing-small.limit-size-center
        != t(".how_it_works.transaction.explanation")
  .small-v-spacer

  %section.big-font
    %h1= t(".ready_to_begin.title")

    .naked-btt.blue-haze
      .small-v-spacer
      =button_to new_user_session_url, class: "rounded big-font big-padded" do
        = t(".ready_to_begin.sign_up")

  .half-v-space