= form_for @wallet, html: {class: "center"} do |f|
  - if @wallet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wallet.errors.count, t("wallet.messages.error"))} #{t("wallet.messages.after_error_message")}"
      %ul
        - @wallet.errors.full_messages.each do |message|
          %li= message

  %div
    = f.label :name
    = f.text_field :name, id: "wallet_form_name", maxlength: 50
  %div
    = f.label :wallet_icon
    = f.collection_select :wallet_icon_id, WalletIcon.all, :id, :icon, {}, {id: "wallet-icon-select"}


  -# TODO: change the icon

  = f.submit t("form.save")
