=render "header"

%div.center
  = render 'notice'
  = render 'wallets/icon', wallet: @wallet, noclick: true
  %p
    %b Value:
    = @wallet.value

  - if not @wallet.system
    %div.naked-btt
      = button_to wallet_path(@wallet), :method => :delete, class: 'rounded big-font' do
        %span.bi.bi-trash
        %span= t('form.delete')

  %div.flex
    =render "linkdash"
    %div.small-spacer
    =render "fancylinkblue", link: edit_wallet_path(@wallet), left_icon: true, icon: "bi-arrow-right", title: t("form.edit"), margin: true

  =render "transactions/transactionsList", noLinkList: true
