=render "header"

%div.center
  = render 'notice'
  = render 'wallets/icon', wallet: @wallet, noclick: true
  %p
    %b= "#{t("form.value")}:"
    = @wallet.value

  - if not @wallet.system
    %div.naked-btt
      = button_to wallet_path(@wallet), :method => :delete, class: 'rounded big-font' do
        %span.bi.bi-trash
        %span= t('form.delete')

  %div.action-links.flex
    =render "linkdash", force_dash: true
    - if not @wallet.system
      =render "fancylinkblue", link: new_transaction_path(:origin_id => @wallet.id), icon: "", title: t("wallet.show.new_transaction"), margin: true
      =render "fancylinkblue", link: edit_wallet_path(@wallet), left_icon: true, icon: "bi-arrow-right", title: t("form.edit"), margin: true
    -else
      %div
      =render "fancylinkblue", link: new_transaction_path(:origin_id => @wallet.id), left_icon: true, icon: "bi-arrow-right", title: t("wallet.show.new_transaction"), margin: true

  -if @quicklinks.length > 0
    .quick-links.center
      %h1= t(".quick_links")
      .small-v-spacer
      .flex.small-gap.big-font
        - @quicklinks.each do |q|
          = render "fancylinkblue", icon: "", title: q.name, link: new_transaction_path(:origin_id => q.origin_id, :destination_id => q.destination_id)

  =render "transactions/transactionsList", noLinkList: true
