=render "header"

%div.center
  = render 'notice'
  = render 'wallets/icon', wallet: @wallet, noclick: true
  %p
    %b Value:
    = @wallet.value

  - if not @wallet.system
    %div.naked-btt
      = button_to wallet_path(@wallet), :method => :delete, class: 'rounded big-font' do
        %span.bi.bi-trash
        %span= t('form.delete')

  =render "linkdash"

  =render "transactions/transactionsList", noLinkList: true
