=render "application/header"

%div.center
  %h1= t('.login_title')

  =render 'application/notice'

  = form_for resource, as: resource_name, url: session_path(resource_name),:html => { class: "center" } do |f|
    %div
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", required: true

    %div
      = f.label :password
      = f.password_field :password, required: true

    - if devise_mapping.rememberable?
      %div.sameline
        = f.check_box :remember_me
        = f.label :remember_me

    %div.fancy-link.colored.margin-bottom-s
      = link_to t('devise.form.no_login'), new_user_registration_path

    = f.submit t('devise.form.login')