= form_for @transaction, html: {class: 'center', id: 'transaction_form'} do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |message|
          %li= message

  %div
    = f.label :origin
    = f.collection_select :origin_id, Wallet.by_user(current_user), :id, :name, {}, { disabled: @origin_not_owned }

  %div
    = f.label :destination
    = f.collection_select :destination_id, Wallet.by_user(current_user), :id, :name, {}, {disabled: @destination_not_owned}
    %p#destination_same.danger{hidden: true}= t("transaction.form.destination_same")

  %div
    = f.label :description
    = f.text_field :description
  %div
    = f.label :value
    = f.number_field :value, required: true

  = f.submit t("form.create"), remote:true, id: 'submit_btt'
