%nav
  - if not user_signed_in?
    =link_to root_path do
      %img{src: image_url('logo.png')}
  - else
    -# To be a bit more efficient
    %p= link_to t(".home"), dashboard_path

  - if defined?(notice) and notice
    %div.text-center
      = render "notice"
  -else
    %div

  %ul
    %li= link_to t(".contact"), contact_path
    - if not user_signed_in?
      %li= link_to t(".login"), new_user_session_path
    - else
      -# %li= link_to(t(".logoff"), destroy_user_session_path, :method => :delete)
      %li
        =button_to destroy_user_session_path, :method => :delete, class: 'bi bi-box-arrow-right', title: t('.logoff') do
          = ""

  %button.bi.bi-moon#darkmodetoggle{title: t('.toggledarkmode')}