!!!
%html
  %head
    %title Ledger on Rails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Roboto:wght@400;500;700;900&display=swap", rel: "stylesheet"}
    %link{href: image_url("favicon.png"), rel: "shortcut icon"}
  %body
    = yield